body {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

.navbar-default {
    border: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.post {
    padding: 20px 20px;
    background-color: #ffffff;
    border-radius: 2px;
    margin: 0 5px 20px 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.post > form > h4 {
    display: inline-block;
}

.completed {
    color: #818181;
    text-decoration: line-through;
}

.hidden {
    display: none;
}